body {
  background-color: #c3dcdc;
  color: #305061;
  font-family: "Open Sans", Roboto, Cantarell, Ubuntu, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 3.9%;
}

nav ul {
  font-weight: bold;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #006ac8;
  cursor: pointer;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

tt {
  background-color: #eef;
  border-radius:2px;
  padding:0.5px;
}

.status {
	border:1px solid #305061;
	border-bottom: none;
	padding: 4px;
}

.status:last-child {
	border-bottom:1px solid #305061;
}

.avatar {
	max-width:16px;
	height:100%;
}

.status-byline {
	font-size:0.9em;
	font-style:italic;
}

table {
	border-collapse:collapse;
	hyphens:none;
	margin:12.5pt 0;
	max-width:100%;
}

table, th, td {
	border-bottom:1px solid #000000;
}

td, th {
	padding:0.2em 0.4em;
	vertical-align:top;
	text-align:left;
	word-spacing:0.3pt;
}


table tr th {
	font-weight: 600;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 14pt;
    width: 70%;
  }

  pre, code, tt {
    font-size:10pt;
  }
}
