<header>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/umi.conf.html">umi.conf</a></li>
      <li><a href="/directories.html">directories</a></li>
      <li><a href="/status_feed.html">status feed</a></li>
    </ul>
  </nav>
</header>
