<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- start: in theory, this would be page-dependent -->
<meta name="author" content="supercell"/>
<meta name="description" content="A sample site"/>
<title>umi example site</title>
<!-- end -->
<link rel="stylesheet" type="text/css" href="/css/base.css"/>
