<div class="status-feed">
    <status-start>
		<div class="status">
			<p><span class="status-byline">On %{timestamp}%, %{nickname}%<img src="%{avatar}%" class="avatar" /> posted:</span><br />
			<br />
			%{content}%</p>
		</div>
    </status-start>
</div>
